@using Arysoft.Website.Areas.Admin.Models

@{
    string tituloApp = Comun.TITULO_APP;
    string messageBox = string.Empty;
    string showMessageBox = string.Empty;

    if (TempData["MessageBox"] != null)
    {
        messageBox = TempData["MessageBox"].ToString().Replace(Environment.NewLine, "<br />");
        showMessageBox = "$('#messageBoxModal').modal('show');";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @tituloApp</title>

    @Styles.Render("~/Content/css")
    <link href="~/Content/Dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <div id="messageBoxModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@ViewBag.Title</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @messageBox
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        @Html.ActionLink(tituloApp, "Index", "Home", new { area = "" }, new { @class = "navbar-brand  col-md-3 col-lg-2 mr-0 px-3" })
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @*<input class="form-control form-control-dark w-100" type="text" placeholder="search" aria-label="search">*@
        <ul class="navbar-nav px-3">
            @if (Request.IsAuthenticated)
            {
                <li class="nav-item text-nowrap">
                    @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                    }
                </li>
            }
            else
            {
                <li class="nav-item text-nowrap">
                    @Html.ActionLink("Iniciar sesión", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
                </li>
            }
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.MenuActive == "dashboard" ? "active" : "")" href="/Admin">
                                <i class="bi-house-door mr-2"></i>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link @(ViewBag.MenuActive == "archivos" ? "active" : "")" href="/Admin/Archivos">
                                    <i class="bi-files mr-2"></i>
                                    Archivos
                                </a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.MenuActive == "paginas" ? "active" : "")" href="/Admin/Paginas">
                                <i class="bi-file-earmark-richtext mr-2"></i>
                                Páginas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.MenuActive == "noticias" ? "active" : "")" href="/Admin/Noticias">
                                <i class="bi-newspaper mr-2"></i>
                                Noticias
                            </a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link @(ViewBag.MenuActive == "notas" ? "active" : "")" href="/Admin/Notas">
                                    <i class="bi-file-text mr-2"></i>
                                    Notas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewBag.MenuActive == "opciones" ? "active" : "")" href="/Admin/Opciones">
                                    <i class="bi-gear mr-2"></i>
                                    Opciones
                                </a>
                            </li>*@
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="~/Scripts/dashboard.js"></script>

    @RenderSection("scripts", required: false)

    <script>
        @Html.Raw(showMessageBox)
    </script>
</body>
</html>
