@model IEnumerable<Arysoft.ProyectoN.Models.Persona>

@using Arysoft.ProyectoN.Models;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Migrar Representantes";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Migrar Representantes</h2>

            <div class="alert alert-info">@Model.Count()</div>

            @foreach (var item in Model)
            {
                <p>
                    @item.SectorBrigadaID | 
                    @item.Nombres @item.ApellidoPaterno @item.ApellidoMaterno | 
                    @item.CasillaID |
                    @item.RepresentanteTipo.GetDisplayName() |
                    @item.Ocupacion
                </p>
            }
        </div>
    </div>
</div>
