@model IEnumerable<Persona>

@using Arysoft.ProyectoN.Models;

@{

    int seccionActual = 0;

 }

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Exportar a Excel para Estatal
    </h4>
</div>

<div class="modal-body" id="toExcel-modal-body">
    <div class="table-responsive">
        <div style="max-height: 700px; overflow-y: scroll;">
            <table id="tableToExcel" class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>¿Credencial vigente? S/N</th>
                        <th>Nombre</th>
                        <th>Primer apellido</th>
                        <th>Segundo apellido</th>
                        <th>Género * H/M</th>
                        <th>Fecha de nacimiento* dd/mm/aaaa</th>
                        <th>Estado de nacimiento*</th>
                        <th>Calle*</th>
                        <th>Número*</th>
                        <th>Interior</th>
                        <th>Colonia*</th>
                        <th>C.P.</th>
                        <th>Estado*</th>
                        <th>Municipio*</th>
                        <th>Sección electoral*</th>
                        <th>Clave electoral</th>
                        <th>Teléfono</th>
                        <th>Celular*</th>
                        <th>Mail</th>
                        <th>Facebook</th>
                        <th>Twitter</th>
                        <th>Ocupación</th>
                        <th>Observaciones</th>
                        <th>Me gustaría sólo recibir información, simpatizo con MC. S/N</th>
                        <th>Me gustaría apoyar a MC en mi casa.S/N</th>
                        <th>Me gustaría integrar un Circulo Ciudadano.S/N</th>
                        <th>Me gustaría Afiliarme a MC. S/N</th>
                        <th>¿Quieres ser parte de la historia? Te invitamos a representarnos en una casilla electoral. S/N</th>
                        <th>Casilla</th>
                        <th>Número INE</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {

                        if (item.Seccion != null && seccionActual != item.Seccion.Numero)
                        {
                            seccionActual = item.Seccion.Numero;

                            <tr>
                                <td>
                                    <strong>@seccionActual</strong>
                                </td>
                            </tr>
                        }
                        else
                        {
                            string calle = string.Empty;
                            string no_ext = string.Empty;
                            string no_int = string.Empty;
                            string colonia = string.Empty;
                            string ubicacionAlterna = string.Empty;

                            if (item.VotaEnDomicilio == BoolTipo.Si)
                            {
                                if (item.UbicacionVive != null)
                                {
                                    if (item.UbicacionVive.Calle != null)
                                    {
                                        calle = item.UbicacionVive.Calle.Nombre;
                                    }
                                    no_ext = item.UbicacionVive.NumExterior.ToString();
                                    no_int = item.UbicacionVive.Letra + ' ' + item.UbicacionVive.NumInterior;
                                    if (item.UbicacionVive.Colonia != null)
                                    {
                                        colonia = item.UbicacionVive.Colonia.Nombre;
                                    }
                                    ubicacionAlterna = item.UbicacionVive.Descripcion;
                                }
                            }
                            else if(item.VotaEnDomicilio == BoolTipo.No)
                            {
                                if (item.UbicacionVota != null)
                                {
                                    if (item.UbicacionVota.Calle != null)
                                    {
                                        calle = item.UbicacionVota.Calle.Nombre;
                                    }
                                    no_ext = item.UbicacionVota.NumExterior.ToString();
                                    no_int = item.UbicacionVota.Letra + ' ' + item.UbicacionVive.NumInterior;
                                    if (item.UbicacionVota.Colonia != null)
                                    {
                                        colonia = item.UbicacionVota.Colonia.Nombre;
                                    }
                                    ubicacionAlterna = item.UbicacionVota.Descripcion;
                                }
                            }

                        <tr>
                            <th>@item.PersonaID</th>
                            <td>S</td>
                            <td>@item.Nombres</td>
                            <td>@item.ApellidoPaterno</td>
                            <td>@item.ApellidoMaterno</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@calle</td>
                            <td>@no_ext</td>
                            <td>@no_int</td>
                            <td>@colonia</td>
                            <td>49000</td>
                            <td>JALISCO</td>
                            <td>ZAPOTLAN EL GRANDE</td>
                            <td>
                                @if (item.Seccion != null)
                                {
                                    <span>@item.Seccion.Numero</span>
                                }
                            </td>
                            <td></td>
                            <td>@item.Telefono</td>
                            <td>@item.Celular</td>
                            <td>@item.CorreoElectronico</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@ubicacionAlterna</td>
                            <td>N</td>
                            <td>N</td>
                            <td>N</td>
                            <td>N</td>
                            <td>N</td>
                            <td>
                                @if (item.Voto != null)
                                {
                                    <span>@item.Voto.Casilla.Tipo.GetDisplayName()</span>
                                }
                            </td>
                            <td>
                                @if (item.Voto != null)
                                {
                                    <span>@item.Voto.NumeroINE</span>
                                }
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" id="exportToExcelButton" class="btn btn-primary">
        <span class="glyphicon glyphicon-export"></span>
        Exportar a Excel
    </button>

    <button type="button" class="btn btn-default" data-dismiss="modal">
        <span class="glyphicon glyphicon-remove"></span>
        Cerrar
    </button>
</div>

<script>

    $('#exportToExcelButton').on('click', function () {
        $('#tableToExcel').table2excel({
            name: 'Personas',
            filename: 'Listado personas'
        });
    });

</script>