@model IEnumerable<Nota>

@using Arysoft.ProyectoN.Models;

@{
    var notas = Model.OrderByDescending(n => n.FechaPublicacion).ToList();
 }

<div class="table-responsive">
    @*<table class="table table-hover table-first-no-border">
        
        <tbody>
            @foreach (var item in notas)
            {
                <tr>                    
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="glyphicon glyphicon-calendar" style="font-size: 11px;"></span>@item.FechaPublicacion
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(modelItem => item.Autor)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Raw(item.Texto.Replace(Environment.NewLine, "<br />"))
                            </div>
                        </div>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

    <div class="list-group">
        @foreach (var item in notas)
        {
        <div class="list-group-item">
            <h6 class="list-group-item-heading">@Html.DisplayFor(modelItem => item.Autor) <small><span class="glyphicon glyphicon-calendar"></span> @item.FechaPublicacion</small></h6>
            <p class="list-group-item-text">@Html.Raw(item.Texto.Replace(Environment.NewLine, "<br />"))</p>
        </div>
        }        
    </div>

</div>