@model Arysoft.ProyectoN.Models.Persona

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Promotor.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promotor.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seccion.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seccion.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sector.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sector.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UbicacionVive.Letra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UbicacionVive.Letra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UbicacionVota.Letra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UbicacionVota.Letra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VotaEnDomicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VotaEnDomicilio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Afinidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Afinidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VotanteSeguro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VotanteSeguro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieneBarda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieneBarda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieneLona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieneLona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserNameActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserNameActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
