@model Arysoft.Website.Models.Noticia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Noticia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resumen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resumen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HTMLContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HTMLContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FriendlyUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendlyUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieneGaleria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieneGaleria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContadorVisitas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContadorVisitas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idioma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idioma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPublicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPublicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagenArchivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagenArchivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeGusta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeGusta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioActualizacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NoticiaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
