@using Arysoft.Website.Models;

@model ApplicationUser

<div class="modal-header">
    <h5 class="modal-title">Usuario</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-danger">¿Esta seguro de eliminar este usuario?</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h6 class="my-0">Nombre de usuario</h6>
                            <small class="text-muted">@Html.DisplayFor(model => model.UserName)</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h6 class="my-0">Nombre completo</h6>
                            <small class="text-muted">@Html.DisplayFor(model => model.NombreCompleto)</small>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>Roles</h4>
                @if (ViewBag.RoleNames.Count == 0)
                {
                    <p class="text-muted">No se encontrarón roles para este usuario.</p>
                }
                else
                {
                    <ul class="list-group">
                        @foreach (var item in ViewBag.RoleNames)
                        {
                            <li class="list-group-item">@item</li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <p class="text-right">
                    @Html.Raw(
                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" }).ToHtmlString()
                            .Replace("Cancelar", "Cancelar")
                    )
                    <button type="submit" class="btn btn-danger">
                        <i class='bi-x-square'></i>
                        Eliminar
                    </button>
                </p>
            }
        </div>
    </div>
</div>
