@model IEnumerable<Nota>

@using Arysoft.ProyectoN.Models;

@{

    var notas = Model.OrderByDescending(n => n.FechaPublicacion).ToList();

}

<div class="table-responsive">
    <table class="table table-hover table-first-no-border">
        @*<thead>
                <tr>
                    <th>Etapa</th>
                    <th>Nota</th>
                    <th>Autor</th>
                </tr>
            </thead>*@
        <tbody>
            @foreach (var item in notas)
            {
                <tr>
                    <td class="col-md-3">                        
                        <small class="text-muted" title="Fecha de publicación">
                            <span class="glyphicon glyphicon-calendar" style="font-size: 11px;"></span>@item.FechaPublicacion
                        </small>
                    </td>
                    <td>@Html.Raw(item.Texto.Replace(Environment.NewLine, "<br />"))</td>
                    <td class="col-md-3">
                        <span title="Autor">
                            <span class="glyphicon glyphicon-user" style="font-size: 11px;"></span>
                            @item.Autor
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>

    // Verifica a que etiqueta indicar el valor del total, si encuentra primero notasBadgePartial lo establece ahí
    // considerando que se encuentra en una consulta de vista parcial en una ventana modal.
    var notasBadgePartial = document.getElementById('notasBadgePartial');
    var notasBadge = document.getElementById('notasBadge');

    if (notasBadgePartial != null) {
        notasBadgePartial.innerHTML = '@notas.Count()';
    } else if (notasBadge != null) {
        notasBadge.innerHTML = '@notas.Count()';
    }

</script>