
@{
    var busquedaSectorTipoShowClass = "display: none;";

    var afinidadList = Enum.GetValues(typeof(AfinidadTipo))
        .Cast<AfinidadTipo>()
        .Select(e => new SelectListItem
        {
            Value = e.ToString(),
            Text = e.GetDisplayName(),
            Selected = ViewBag.Afinidad == e.ToString()
        });

    var bardaLonaList = new List<SelectListItem>();
    bardaLonaList.Add(new SelectListItem() { Text = "(barda & lona)", Value = "0" });
    bardaLonaList.Add(new SelectListItem() { Text = "Tiene barda", Value = "1" });
    bardaLonaList.Add(new SelectListItem() { Text = "Tiene lona", Value = "2" });
    bardaLonaList.Add(new SelectListItem() { Text = "Tiene barda o lona", Value = "3" });
    bardaLonaList.Add(new SelectListItem() { Text = "Tiene barda y lona", Value = "4" });

    var sectorTipoList = new List<SelectListItem>();
    sectorTipoList.Add(new SelectListItem() { Text = "(sector tipo)", Value = "0" });
    sectorTipoList.Add(new SelectListItem() { Text = "Brigadistas", Value = "1" });
    sectorTipoList.Add(new SelectListItem() { Text = "Votan", Value = "2" });

    var votanteSeguroList = Enum.GetValues(typeof(BoolTipo))
        .Cast<BoolTipo>()
        .Select(e => new SelectListItem
        {
            Value = e.ToString(),
            Text = e == BoolTipo.Ninguno ? "(votante seguro)" : e.GetDisplayName(),
            Selected = ViewBag.VotanteSeguro == e.ToString()
        });

 }

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Personas <small>AGREGAR</small>
    </h4>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-md-10">
            <div class="form-inline">
                <div class="form-group">
                    <label for="buscar" class="sr-only">Buscar</label>
                    @Html.TextBox("buscar", ViewBag.Filtro as string, htmlAttributes: new { @class = "form-control", @placeholder = "buscar..." })
                </div>

                <div class="form-group search-bar-control">
                    <label for="recepcion" class="sr-only">Forma de recepción</label>
                    @Html.DropDownList("afinidad", afinidadList, htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="form-group search-bar-control">
                    <label for="idarea" class="sr-only">Sector</label>
                    @Html.DropDownList("SectorID", null, htmlAttributes: new { @class = "form-control", style = "width: 100px;" })
                </div>

                <div class="form-group" id="sectorTipoFormGroup" style="@busquedaSectorTipoShowClass">
                    <label for="sectorTipo" class="sr-only">Sector birgada o votan</label>
                    @Html.DropDownList("sectorTipo", sectorTipoList, htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="form-group search-bar-control">
                    <label for="idarea" class="sr-only">Sección</label>
                    @Html.DropDownList("SeccionID", null, htmlAttributes: new { @class = "chosen-select", style = "width: 100px;" })
                </div>

                <div class="form-group search-bar-control">
                    <label for="bardaLona" class="sr-only">Tiena barda o lona</label>
                    @Html.DropDownList("bardaLona", bardaLonaList, htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="form-group search-bar-control">
                    <label for="bardaLona" class="sr-only">Votante seguro</label>
                    @Html.DropDownList("votanteSeguro", votanteSeguroList, htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="form-group search-bar-control">
                    <label for="idarea" class="sr-only">Colonia</label>
                    @Html.DropDownList("ColoniaID", null, htmlAttributes: new { @class = "chosen-select", style = "width: 200px;" })
                </div>

                <div class="form-group search-bar-control">
                    <label for="idarea" class="sr-only">Calle</label>
                    @Html.DropDownList("CalleID", null, htmlAttributes: new { @class = "chosen-select", style = "width: 200px;" })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">                
                <button type="submit" id="buscarButton" class="btn btn-warning btn-block" title="Buscar">
                    <span class="glyphicon glyphicon-search glyphicon-toolbar-size"></span>
                    Buscar
                </button>                
            </div>
        </div>
    </div>

    <div id="personaLista" style="min-height: 300px;">

    </div>
</div>

<div class="modal-footer">
    <button type="button" id="cancelarPersonasButton" class="btn btn-default" data-dismiss="modal">
        <span class="glyphicon glyphicon-remove"></span>
        Cancelar
    </button>

    <button type="button" id="agregarPersonasButton" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Agregar
    </button>
</div>

<script>

    $(document).ready(function () {

        //$('.chosen-select').chosen();
        $('.chosen-select').chosen('destroy').chosen();

        $('#SectorID').on('change', function () {

            if (this.value != "@Guid.Empty.ToString()") {
                $('#sectorTipoFormGroup').removeAttr('style');
                $('#sectorTipo').focus();
            }
            else {
                $('#sectorTipoFormGroup').attr('style', 'display: none;');
            }
        });

        $('#buscarButton').on('click', function () {
            var url = '@Url.Action("BuscarPersonas", "Auditoria")';

            var auditoriaId, buscar, orden, afinidad, sectorId, seccionId, calleId, coloniaId, bardaLona, sectorTipo, votanteSeguro, afiliado;
            auditoriaId = '@ViewBag.AuditoriaID';
            buscar = $('#buscar').val();
            orden = '';
            afinidad = $('#afinidad').val();
            sectorId = $('#SectorID').val();
            sectorTipo = $('#sectorTipo').val();
            seccionId = $('#SeccionID').val();
            calleId = $('#CalleID').val();
            coloniaId = $('#ColoniaID').val();
            bardaLona = $('#bardaLona').val();
            votanteSeguro = $('#votanteSeguro').val();
            afiliado = $('#afiliado').val();

            $.ajax({
                cache: false,
                async: true,
                type: 'get',
                url: url,
                data: {
                    buscar: buscar,
                    afinidad: afinidad,
                    SectorID: sectorId,
                    SeccionID: seccionId,
                    CalleID: calleId,
                    ColoniaID: coloniaId,
                    bardaLona: bardaLona,
                    sectorTipo: sectorTipo,
                    votanteSeguro: votanteSeguro
                },
                beforeSend: function () {
                    $('#personaLista').html('<p class="text-center" style="margin: 50px;"><img src="@Url.Content("~/Images/ajax-loader.gif")" /></p>');
                },
                success: function (vista) {
                    $('#personaLista').html(vista);
                },
                error: function (xhr, status, error) {
                    alert('A ocurrido una excepción: ' + status + '\n error: ' + error);
                }
            });

        });

        $('#agregarPersonasButton').on('click', function () {            
            var url = '@Url.Action("AgregarPersonas", "Auditoria")';
            var IDs = '';
            var id = '@ViewBag.AuditoriaID';

            $('input[name=personaSeleccionada]:checked').each(function () {
                IDs += $(this).val() + ',';
            });

            if (IDs.length > 0) { IDs = IDs.substring(0, IDs.length - 1); }
            
            $.ajax({
                cache: false,
                async: true,
                type: 'post',
                url: url,
                data: {  
                    id: id,
                    personas: IDs
                },
                beforeSend: function() {
                    $('#agregarPersonasButton').html('Agregando...');
                },
                success: function (vista) {
                    $('#listaPersonas').html(vista); // Listado en Edit                    
                    $('#agregarPersonasModal').modal('hide');
                },
                error: function (xhr, status, error) {
                    alert('A ocurrido una excepción: ' + status + '\n error: ' + error);
                    $('#agregarPersonasButton').html('<span class="glyphicon glyphicon-plus"></span>Agregar');
                }
            });

        });

    }); // Document Ready

</script>