@model Arysoft.ProyectoN.Models.Sector

@using Arysoft.ProyectoN.Models;

@{
    bool sePuedeEliminar = true;

    if (Model.Secciones != null && Model.Secciones.Count > 0) { sePuedeEliminar = false; }
    if (Model.Personas != null && Model.Personas.Count > 0) { sePuedeEliminar = false; }

    ViewBag.Title = "Eliminar sector";
}

<div class="container">

    @if (Model.Status == StatusTipo.Activo)
    {
        <h2>Sector <small>BAJA</small></h2>
        <h3>¿Esta seguro de dar de baja esto?</h3>
    }
    else if (Model.Status == StatusTipo.Baja)
    {
        <h2>Sector <small>ELIMINAR</small></h2>
        <h3>¿Esta seguro de eliminar esto?</h3>
    }

    @if (!sePuedeEliminar)
    {
        <div class="alert alert-warning">
            <strong>No es posible eliminar/dar de baja el sector</strong>, pues tiene asociados secciones y/o brigadistas.
        </div>
    }
    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VotosMeta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VotosMeta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @switch (Model.Status)
                {
                    case StatusTipo.Activo:
                        <span class="label label-primary">
                            @Html.DisplayFor(model => model.Status)
                        </span>
                        break;
                    case StatusTipo.Baja:
                        <span class="label label-warning">
                            @Html.DisplayFor(model => model.Status)
                        </span>
                        break;
                    case StatusTipo.Eliminado:
                        <span class="label label-danger">
                            @Html.DisplayFor(model => model.Status)
                        </span>
                        break;
                }
            </dd>

            <dt></dt>
            <dd><hr /></dd>

            <dt>
                Secciones
            </dt>
            <dd>
                @foreach (Seccion seccion in Model.Secciones)
                {
                    <span class="label label-default">@seccion.Numero</span>
                }
            </dd>

            <dt>
                Brigadistas
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Personas.Count)
            </dd>
        </dl>

        <div class="row">
            <div class="col-md-6 text-muted">
                <strong>@Html.DisplayNameFor(model => model.UserNameActualizacion)</strong>
                @Html.DisplayFor(model => model.UserNameActualizacion)
                <br />
                <strong>@Html.DisplayNameFor(model => model.FechaActualizacion)</strong>
                @Html.DisplayFor(model => model.FechaActualizacion)
            </div>
            <div class="col-md-6 text-right">
                @using (Html.BeginForm())
                {

                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        @Html.Raw(
                                            @Html.ActionLink("[Cancelar]", "Index", null, new { @class = "btn btn-default" }).ToHtmlString()
                                            .Replace("[Cancelar]", "<span class='glyphicon glyphicon-remove' title='Cancelar cambios'></span> Cancelar")
                                        )

                        @if (!sePuedeEliminar)
                        {
                            <button type="submit" class="btn btn-danger" disabled title="No se puede eliminar el sector, pues tiene secciones y personal de brigada asociados.">
                                <span class="glyphicon glyphicon-trash"></span>
                                Eliminar
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-danger">
                                @if (Model.Status == StatusTipo.Activo)
                                {
                                    <span>
                                        <span class="glyphicon glyphicon-thumbs-down"></span>
                                        Dar de baja
                                    </span>
                                }
                                else if (Model.Status == StatusTipo.Baja)
                                {
                                    <span>
                                        <span class="glyphicon glyphicon-trash"></span>
                                        Eliminar
                                    </span>
                                }
                            </button>
                        }
                    </div>
                }
            </div>
        </div>

    </div>

</div>