@model Arysoft.Website.Models.Archivo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Archivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PropietarioID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropietarioID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnGaleria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnGaleria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioActualizacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArchivoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
