@model Arysoft.ProyectoN.Models.Colonia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Colonia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Poblacion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poblacion.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seccion.SeccionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seccion.SeccionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserNameActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserNameActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ColoniaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
