@model Arysoft.Website.Models.Pagina

@using Arysoft.Website.Models;

@{
    bool tieneGaleria = Model.TieneGaleria == BoolTipo.Si;
    string galeriaHTML = string.Empty;

    ViewBag.Title = Model.Titulo;

    if (tieneGaleria) {
        galeriaHTML = "<div id='gallery' style='display: none;'>";
        foreach (var archivo in Model.Archivos.Where(a => a.EnGaleria == BoolTipo.Si))
        {
            string imageUrl = "/Archivos/Paginas/" + Model.PaginaID.ToString() + "/" + archivo.Nombre;
            galeriaHTML += @"<a href='http://unitegallery.net'><img alt='' src='" + imageUrl + "' data-image='" + imageUrl + "' data-description='' style='display:none' /></a>";
        }
        galeriaHTML += "</div>";
        Model.HTMLContent = Model.HTMLContent.Replace("[GALERIA]", galeriaHTML);
    }
}

@section styles {
    @if (tieneGaleria)
    {
        <link href="~/Content/unite-gallery.css" rel="stylesheet" />
    }
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" style="background-color: #019DBE;">
                <h1 class="display-3 text-white">@Model.Titulo</h1>
                @if (!string.IsNullOrEmpty(Model.Resumen))
                {
                    <p class="lead text-white-50">@Model.Resumen</p>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 mb-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page">
                        <a href="/">Inicio</a>
                    </li>
                </ol>
            </nav>
            @Html.Raw(Model.HTMLContent.Replace("<img ", "<img class='img-fluid' "))
        </div>
        <div class="col-md-3">
            <div class="list-group">
                @if (Model.PaginaPadre != null)
                {
                    <a href="/Paginas/@Model.PaginaPadre.FriendlyUrl" class="list-group-item  list-group-item-action" title="Regresar">
                        <i class="bi-arrow-90deg-left"></i>
                        @Model.PaginaPadre.EtiquetaMenu
                    </a>
                }
                @foreach (Pagina paginaHijo in Model.PaginasHijo)
                {
                    if (paginaHijo.Status == PaginaStatus.Publicada)
                    {
                        <a href="/Paginas/@paginaHijo.FriendlyUrl" class="list-group-item list-group-item-action">
                            @paginaHijo.EtiquetaMenu
                        </a>
                    }
                }
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @if (tieneGaleria)
    {
        <script src="~/Scripts/jquery-11.0.min.js"></script>
        <script src="~/Scripts/unitegallery.min.js"></script>
        <script src="~/themes/tiles/ug-theme-tiles.js"></script>

        <script>
            $(document).ready(function () {

                jQuery("#gallery").unitegallery({
                    tiles_type: "nested"
                });

            });
        </script>
    }
}