@model  CasillaEditModel

@using Arysoft.ProyectoN.Models;

@if (Model.NumeroVotantes == 0)
{
    <div class="text-muted">(sin limite de votantes)</div>
}
else
{

    <style>

    @@media print {

        h3 {
            font-family: Arial, Helvetica, sans-serif;
        }

        .table {
            width: 100%;
            max-width: 100%;
        }

        .table-bordered {
            /*border: 1px solid #000;*/
        }

            .table-bordered > tbody > tr > td {
                border: 1px solid #000;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
            }

        .as-bingo-afiliado {
            /*background-color: #ccc;
            -webkit-print-color-adjust: exact;*/
        }

            .as-bingo-afiliado.as-ya-voto {
                color: #fff;
                background-color: #666 !important;
                -webkit-print-color-adjust: exact;
            }

        .as-ya-voto {
            text-decoration: line-through;
            /*font-weight: 400;*/
        }
    }
    </style>

    int columna = 0;
    int max_col = 20;
    string td_class = "";
    string title_text = "";

    <div class="table-responsive">
        <table class="table table-bordered as-table-bingo" id="tableBingo">
            <thead class="visible-print">
                <tr>
                    <th colspan="20">
                        <h3>Bingo <small>CASILLA @Model.Seccion.Numero @Model.Tipo.GetDisplayName().ToUpper()</small></h3>
                    </th>
                </tr>
            </thead>
            <tbody>

                @for (int votante = 1; votante <= Model.NumeroVotantes; votante++)
                {
                    columna++;
                    if (columna == 1)
                    {
                        @Html.Raw("<tr>")
                    }

                    var voto = Model.Votantes.Where(v => v.NumeroINE == votante).FirstOrDefault();

                    if (voto == null)
                    {
                        <td class="text-center" title="">@votante</td>
                    }
                    else
                    {
                        string inner_html = votante.ToString();

                        if (voto.Persona != null)
                        {
                            td_class = "as-bingo-afiliado ";
                            title_text = voto.Persona.NombreCompleto;
                        }
                        else {
                            td_class = string.Empty;
                            title_text = string.Empty;
                        }

                        if (voto.YaVoto == BoolTipo.Si)
                        {
                            td_class += "as-ya-voto";
                            inner_html = "<strong>" + inner_html + "</strong>";
                        }
                        <td class="text-center @td_class" title="@title_text">@Html.Raw(inner_html)</td>
                    }
                    
                    if(columna == max_col) {
                        @Html.Raw("</tr>")
                        columna = 0;
                    }
                }   
            </tbody>
        </table>
    </div>
}

@if (ViewBag.NumerosNoRegistrados != null)
{
    <script>

        alert('Los siguientes números INE no fueron marcados como que Ya Votarón\n\n' +
            '@ViewBag.NumerosNoRegistrados\n\n' +
            'Revise la sintaxis e intentelo nuevamente.');

    </script>
}