@model Arysoft.ProyectoN.Models.Casilla

@{
    ViewBag.Title = "Eliminar";
}

<div class="container">

    @if (Model.Status == StatusTipo.Activo)
    {
        <h2>Dar de baja</h2>
        <h3>¿Esta seguro de dar de baja la casilla?</h3>
    }
    else if (Model.Status == StatusTipo.Baja)
    {
        <h2>Eliminar casilla</h2>
        <h3>¿Esta seguro de eliminar esto?</h3>
    }


    <div>
        <hr />
        <div class="row">
            <div class="col-md-8">

                <dl class="dl-horizontal">
                    <dt>
                        Responsable
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PersonaResponsable.NombreCompleto)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Seccion.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Seccion.Descripcion)
                    </dd>

                    <dt>
                        Ubicación
                    </dt>

                    <dd>
                        @if (Model.Ubicacion != null)
                        {
                            <span class="glyphicon glyphicon-home glyphicon-table-info-size"></span>
                            <span>
                                @if (Model.Ubicacion.Calle != null)
                                {<span>@Model.Ubicacion.Calle.Nombre</span>}
                                @Model.Ubicacion.NumExterior
                                @if (!string.IsNullOrEmpty(Model.Ubicacion.Letra))
                                {<span>@Model.Ubicacion.Letra</span>}
                                @if (!string.IsNullOrEmpty(Model.Ubicacion.NumInterior))
                                {<span>@Model.Ubicacion.NumInterior</span>}
                                @if (Model.Ubicacion.Colonia != null)
                                {
                                    @Model.Ubicacion.Colonia.Nombre
                                    <span>C.P.</span> @Model.Ubicacion.Colonia.CodigoPostal
                                }
                                @if (!string.IsNullOrEmpty(Model.Ubicacion.Descripcion))
                                {<br /><span class="text-muted">@Model.Ubicacion.Descripcion</span>}
                            </span>
                        }
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PersonaDuenno)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PersonaDuenno)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NumeroVotantes)
                    </dt>

                    <dd>
                        <span class="label label-primary label-default-size">
                            @Html.DisplayFor(model => model.NumeroVotantes)
                        </span>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @switch (Model.Status)
                        {
                            case StatusTipo.Activo:
                                <span class="label label-success label-default-size">@Model.Status.GetDisplayName()</span>
                                break;
                            case StatusTipo.Baja:
                                <span class="label label-warning label-default-size">@Model.Status.GetDisplayName()</span>
                                break;
                            case StatusTipo.Eliminado:
                                <span class="label label-danger label-default-size">@Model.Status.GetDisplayName()</span>
                                break;
                        }
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <div class="alert alert-success">
                    <span class="info-top">Votos seguros</span>
                    <div class="info-body">@Model.VotosSeguros</div>
                    <span>@Model.PorcentajeVotos%</span>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="alert alert-info">
                            <span class="info-top">Ya votaron</span>
                            <div class="info-body text-center">@Model.YaVotaron</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="alert alert-warning">
                            <span class="info-top">Votos restantes</span>
                            <div class="info-body text-center">@Model.VotantesRestantes</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
                        
            <div class="form-actions no-color text-right">

                @Html.Raw(
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" }).ToHtmlString()
                    .Replace("Cancelar", "<span class='glyphicon glyphicon-remove' title='Cancelar cambios'></span> Cancelar")
                )

                <button type="submit" class="btn btn-danger">
                    @if (Model.Status == StatusTipo.Activo)
                    {
                        <span>
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                            Dar de baja
                        </span>
                    }
                    else
                    {
                        <span>
                            <span class="glyphicon glyphicon-trash"></span>
                            Eliminar
                        </span>
                    }
                </button>

            </div>
        }
    </div>
</div>