@model Arysoft.ProyectoN.Models.Casilla

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Casilla</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonaResponsable.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonaResponsable.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seccion.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seccion.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion.Letra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion.Letra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonaDuenno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonaDuenno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroVotantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroVotantes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserNameActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserNameActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CasillaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
