@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-menu-hamburger" style="font-size: 18px;"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">                    
                    <li>
                        @Html.ActionLink("Administrar " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li role="separator" class="divider"></li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {                        
                        <li>@Html.ActionLink("Usuarios", "Index", "UsersAdmin")</li>
                        <li>@Html.ActionLink("Roles de usuario", "Index", "RolesAdmin")</li>
                        <li role="separator" class="divider"></li>
                    }
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
                </ul>
            </li>       

        </ul>
    }
}
else {
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@

        @*<li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        <li>
            @Html.Raw(
                @Html.ActionLink("iniciar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).ToHtmlString()
                    .Replace("iniciar", "<span class='glyphicon glyphicon-log-in' title='Iniciar sesión' style='font-size: 18px;'></span>")
            )
        </li>
    </ul>
}
