@model Arysoft.ProyectoN.Models.Calle

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Calle @Model.Nombre
    </h4>
</div>

<div class="modal-body">
    @if (Model.NpOrigen == "delete")
    {
        string title = "";
        switch (Model.Status)
        {
            case StatusTipo.Activo:
                title = "¿Está seguro de dar de baja esta colonia?";
                break;
            case StatusTipo.Baja:
                title = "¿Está seguro de eliminar esta colonia?";
                break;
            case StatusTipo.Eliminado:
                title = "Colonia eliminada";
                break;
        }
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-danger">@title</h5>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            @switch (Model.Status)
            {
                case StatusTipo.Activo:
                    <div class="alert alert-success text-center">
                        <h4 style="margin-bottom: 0;">
                            <span class="glyphicon glyphicon-ok"></span>
                            Activo
                        </h4>
                    </div>
                    break;
                case StatusTipo.Baja:
                    <div class="alert alert-warning text-center">
                        <h4 style="margin-bottom: 0;">
                            <span class="glyphicon glyphicon-save"></span>
                            Baja
                        </h4>
                    </div>
                    break;
                case StatusTipo.Eliminado:
                    <div class="alert alert-danger text-center">
                        <h4 style="margin-bottom: 0;">
                            <span class="glyphicon glyphicon-remove"></span>
                            Eliminado
                        </h4>
                    </div>
                    break;
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#colonias" data-toggle="tab">
                        <span class="glyphicon glyphicon-home"></span>
                        Colonias
                        <span class="badge">@Model.Colonias.Count</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" name="colonias" id="colonias">
                    <h4>Colonias</h4>
                    <div id="listaColonias" name="listaColonias" style="max-height: 360px; overflow-y: scroll;">
                        @Html.Partial("_listaColonias", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-8 text-left text-muted">
            <small>
                <strong>Actualizado por</strong> @Model.UserNameActualizacion |
                <strong>Última actualización</strong> @Model.FechaActualizacion.ToShortDateString()
            </small>
        </div>
        <div class="col-md-4 text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                <span class="glyphicon glyphicon-remove"></span>
                Cancelar
            </button>

            @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
            {
                switch (Model.Status)
                {
                    case StatusTipo.Activo:
                        if (Model.NpOrigen == "details")
                        {
                            @Html.Raw(
                                 @Html.ActionLink("Editar", "Edit", new { id = Model.CalleID }, new { @class = "btn btn-primary" }).ToHtmlString()
                                     .Replace("Editar", "<span class='glyphicon glyphicon-edit' title='Editar'></span> Editar"))
                        }
                        else if (Model.NpOrigen == "delete")
                        {
                            <form action="/Calle/Delete/@Model.CalleID" method="post" style="float: right; margin-left: .5em;">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-warning">
                                    <span class='glyphicon glyphicon-trash' title='Dar de Baja'></span> Baja
                                </button>
                            </form>
                        }
                        break;

                    case StatusTipo.Baja:
                        switch (Model.NpOrigen)
                        {
                            case "details":
                                <form action="/Calle/Activar/@Model.CalleID" method="post" style="float: right; margin-left: .5em;">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-success">
                                        <span class='glyphicon glyphicon-ok' title='Reactivar'></span> Reactivar
                                    </button>
                                </form>
                                break;

                            case "delete":
                                <form action="/Calle/Delete/@Model.CalleID" method="post" style="float: right; margin-left: .5em;">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger">
                                        <span class='glyphicon glyphicon-trash' title='Eliminar'></span> Eliminar
                                    </button>
                                </form>
                                break;
                        }
                        break;
                }
            }
        </div>
    </div>
</div>
