@model Arysoft.ProyectoN.Models.Calle

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>
                    Nombre
                </th>
                <th>
                    Población
                </th>
                <th>
                    Sección
                </th>
                <th>
                    C.P.
                </th>
                @if (!Model.NpSoloLectura)
                {
                    <th></th>
                }                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Colonias)
            {
                string classRow = "";
                string classStatusIcon = "";

                switch (item.Status)
                {
                    case StatusTipo.Activo:
                        classStatusIcon = "<span class='glyphicon glyphicon-ok glyphicon-table-action-size text-success'></span>";
                        break;

                    case StatusTipo.Baja:
                        classRow = "text-muted";
                        classStatusIcon = "<span class='glyphicon glyphicon-save glyphicon-table-action-size text-warning'></span>";
                        break;

                    case StatusTipo.Eliminado:
                        classRow = "text-danger danger";
                        classStatusIcon = "<span class='glyphicon glyphicon-remove glyphicon-table-action-size text-danger'></span>";
                        break;
                }
                <tr class="@classRow">
                    <td>
                        @Html.Raw(classStatusIcon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Poblacion.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seccion.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoPostal)
                    </td>
                    @if (!Model.NpSoloLectura)
                    { 
                        <td class="text-right">
                            <button id="coloniaEliminar" name="coloniaEliminar" class="btn btn-link" title="Quitar la colonia de la calle"
                                onclick="EliminarColonia('@item.ColoniaID');">
                            <span class="glyphicon glyphicon-trash glyphicon-table-action-size text-danger"></span>
                        </button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
