@model Arysoft.ProyectoN.Models.Calle

@{
    ViewBag.Title = "Calle detalles";
}

<div class="container">
    <h2>Calle <small>DETALLES</small></h2>

    <div>        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                Colonias
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Colonias.Count)
            </dd>

            <dt class="text-muted">
                @Html.DisplayNameFor(model => model.UserNameActualizacion)
            </dt>

            <dd class="text-muted">
                @Html.DisplayFor(model => model.UserNameActualizacion)
            </dd>

            <dt class="text-muted">
                @Html.DisplayNameFor(model => model.FechaActualizacion)
            </dt>

            <dd class="text-muted">
                @Html.DisplayFor(model => model.FechaActualizacion)
            </dd>

        </dl>
    </div>
    <p class="text-right">
        @Html.Raw(
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" }).ToHtmlString()
                .Replace("Cancelar", "<span class='glyphicon glyphicon-remove' title='Cancelar cambios'></span> Cancelar")
        )
        @if (User.IsInRole("Admin"))
        {
            @Html.Raw(
                @Html.ActionLink("Editar", "Edit", new { id = Model.CalleID }, new { @class = "btn btn-primary" }).ToHtmlString()
                    .Replace("Editar", "<span class='glyphicon glyphicon-edit' title='Editar'></span> Editar")
            )
        }        
    </p>
</div>