@model Arysoft.ProyectoN.Models.Calle

@{
    bool esNuevo = Model.Status == StatusTipo.Ninguno;
    string titleSmall = "EDITAR";
    string panelClass = "panel panel-default";
    string panelTitle = Model.Status.ToString();

    if (esNuevo)
    {
        ViewBag.Title = "Nueva calle";
        titleSmall = "NUEVA";
        panelClass = "panel panel-primary";
        panelTitle = "Nuevo registro";
    }
    else { ViewBag.Title = "Editar Calle"; }

    switch (Model.Status)
    {
        case StatusTipo.Activo:
            panelClass = "panel panel-success";
            panelTitle = "Editar registro";
            break;
        case StatusTipo.Baja:
            panelClass = "panel panel-warning";
            panelTitle = "Registro dado de baja";
            break;
        case StatusTipo.Eliminado:
            panelClass = "panel panel-danger";
            panelTitle = "Registro eliminado";
            break;
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Calle <small>@titleSmall</small></h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="@panelClass">
                    <div class="panel-heading">
                        @Html.Raw(panelTitle)
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.CalleID)
                            @Html.HiddenFor(model => model.Status)
                            @Html.HiddenFor(model => model.UserNameActualizacion)
                            @Html.HiddenFor(model => model.FechaActualizacion)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <strong>@Html.DisplayNameFor(model => model.UserNameActualizacion)</strong>
                                    @Html.DisplayFor(model => model.UserNameActualizacion)
                                    <br />
                                    <strong>@Html.DisplayNameFor(model => model.FechaActualizacion)</strong>
                                    @Html.DisplayFor(model => model.FechaActualizacion)
                                </div>
                                <div class="col-md-6 text-right">
                                    @Html.Raw(
                                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" }).ToHtmlString()
                                        .Replace("Cancelar", "<span class='glyphicon glyphicon-remove' title='Cancelar cambios'></span> Cancelar")
                                    )
                                    <button type="submit" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-floppy-disk"></span>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#colonias" data-toggle="tab">
                <span class="glyphicon glyphicon-home"></span>
                Colonias
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" name="colonias" id="colonias">
            <h4>Colonias</h4>
            
            <div id="listaColonias" name="listaColonias">
                @Html.Partial("_listaColonias", Model)
            </div>
        </div>
    </div>    

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        function EliminarColonia(id) {
            if (confirm('¿Está seguro de quitar la colonia de la Calle?')) {
                var url = '@Url.Action("EliminarColonia", "Calle")';
                var calleID = '@Model.CalleID.ToString()';

                $.ajax({
                    cache: false,
                    async: true,
                    type: 'post',
                    url: url,
                    data: {
                        id: id,
                        calleID: calleID
                    },
                    success: function (vista) {
                        $('#listaColonias').html(vista);
                    },
                    error: function (xhr, status, error) {
                        alert('A ocurrido una excepción: ' + error);
                    }
                });

            }
        } // EliminarColonia

    </script>
}
