@model Arysoft.ProyectoN.Models.EditUserViewModel

@{
    ViewBag.Title = "Editar";
}
<div class="container">
    <h2>Usuario <small style="text-transform: uppercase;">@ViewBag.Title</small></h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Datos del usuario</h4>
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.Nombres, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ApellidoPaterno, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ApellidoPaterno, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ApellidoMaterno, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ApellidoMaterno, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CURP, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.CURP, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CURP, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />

            <div class="form-group">
                @Html.Label("Roles", new { @class = "control-label col-md-2" })
                <span class="col-md-10">
                    @foreach (var item in Model.RolesList)
                    {
                        <label class="checkbox-inline">
                            <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" />
                            @item.Value
                        </label>
                    }
                </span>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-right">
                    @Html.Raw(
                            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" }).ToHtmlString()
                                .Replace("Cancelar", "<span class=\"glyphicon glyphicon-remove\" title=\"Cancelar cambios\"></span> Cancelar")
                        )
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    }
        
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
