@using Arysoft.Website.Models;

@model ApplicationRole

<div class="modal-header">
    <h5 class="modal-title">Rol de usuario</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Lista de usuarios en este rol</h4>
                        @if (ViewBag.UserCount == 0)
                        {
                            <p class="card-text">No hay usuarios en este rol.</p>
                        }
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var item in ViewBag.Users)
                        {
                            <li class="list-group-item">@item.UserName</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <p class="text-right">
                    @Html.Raw(
                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" }).ToHtmlString()
                            .Replace("Cancelar", "Cancelar")
                    )
                    <button type="submit" class="btn btn-danger">
                        <i class='bi-x-square'></i>
                        Eliminar
                    </button>
                </p>
            }
        </div>
    </div>
</div>
