@model Arysoft.Website.Models.RoleViewModel
@{
    ViewBag.Title = "Nuevo";
}

<div class="container">
    <h2 class="my-3">Rol de Usuario <small style="text-transform: uppercase;">@ViewBag.Title</small></h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row my-5 pb-5">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-header">
                        Información del Rol de Usuario
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.Id)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, new { @class = "" })
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, new { @class = "" })
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Los <strong>roles de usuario</strong> son utilizados durante la programación
                                    para limitar el acceso a las diferentes funciones del sistema, el crear
                                    roles sin su programación correspondiente, <span class="text-warning">no tienen efecto alguno con los
                                    usuarios</span>.
                                    <div class="alert alert-warning">
                                        <i class="fa fa-warning"></i>
                                        Solo personal de desarrollo debe de crear nuevo roles.
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        @Html.Raw(
                            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" }).ToHtmlString()
                                .Replace("Cancelar", "<i class='bi-x-circle' title='Cancelar cambios'></i> Cancelar")
                        )
                        <button type="submit" class="btn btn-primary">
                            <i class="bi-box-arrow-down"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
