@model Arysoft.ProyectoN.Models.Candidato

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Candidato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArchivoFotografia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchivoFotografia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VotosTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VotosTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campanna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campanna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coalicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coalicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiglasCoalicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiglasCoalicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArchivoCoalicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchivoCoalicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserNameActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserNameActualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
